/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

/* Navigation Bar */
nav {
    background-color: #000;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 16px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #333;
}

/* Main Content */
.container {
    margin-top: 2rem;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
}

p {
    text-align: center;
    color: #555;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Contact Information */
.mb-8 {
    margin-bottom: 2rem;
}

.text-center {
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

/* Map */
#map {
    margin-top: 40px;
    width: 80%; /* Đặt chiều rộng của bản đồ, có thể điều chỉnh để vừa với màn hình */
    height: 400px; /* Chiều cao của bản đồ */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block; /* Chuyển phần tử iframe thành block */
    margin-left: auto; /* Căn giữa tự động */
    margin-right: auto; /* Căn giữa tự động */
  }
  
  #map iframe {
    width: 100%; /* Đảm bảo iframe chiếm hết chiều rộng của container */
    height: 100%; /* Đảm bảo iframe chiếm hết chiều cao của container */
    border-radius: 10px;
  }

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}
